src/main/default/flows/Add_Gameplay.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_One_Score_To_Create</name>
        <label>Add One Score To Create</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Scores_Left_To_Create</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_One_Score_To_Create_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_All_Player_Scores_Created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Score_Fields</name>
        <label>Assign Score Fields</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Score_To_Create.BP_GamePlay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Gameplay_To_Create.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Gameplay_Fields</name>
        <label>Set Gameplay Fields</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Gameplay_To_Create.BP_Game__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Collection_Item.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Gameplay_To_Create.BP_Organizer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Gameplay_To_Create.BP_PlayDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Data_rozgrywki</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Gameplay_To_Create.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Gameplay_Name_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Gameplay</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_All_Player_Scores_Created</name>
        <label>Is All Player Scores Created?</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>New_Player_Score_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_All_Scores_Are_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Scores_Left_To_Create</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Number_Of_Players</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ending_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Add_One_Score_To_Create_Formula</name>
        <dataType>Number</dataType>
        <expression>{!Scores_Left_To_Create} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Gameplay_Date_Validator</name>
        <dataType>Boolean</dataType>
        <expression>{!Data_rozgrywki} &lt;= TODAY()</expression>
    </formulas>
    <formulas>
        <name>Gameplay_Name_Formula</name>
        <dataType>String</dataType>
        <expression>{!Gameplay_To_Create.BP_Game__r.Name} + &apos; - &apos; + TEXT({!Gameplay_To_Create.BP_PlayDate__c})</expression>
    </formulas>
    <formulas>
        <name>Validate_Number_Of_Players</name>
        <dataType>Boolean</dataType>
        <expression>{!Number_Of_Players} &gt;= {!Get_Game_Info.BP_MinimumPlayersNumber__c} &amp;&amp;
{!Number_Of_Players} &lt;= {!Get_Game_Info.BP_MaximumPlayersNumber__c}</expression>
    </formulas>
    <interviewLabel>Add Gameplay {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Gameplay</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Gameplay</name>
        <label>Create Gameplay</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Pick_Number_Of_Players</targetReference>
        </connector>
        <inputReference>Gameplay_To_Create</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Score</name>
        <label>Create New Score</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Add_One_Score_To_Create</targetReference>
        </connector>
        <inputReference>Score_To_Create</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Collection_Item</name>
        <label>Get Collection Item</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Game_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CollectionItem_Lookup.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BP_CollectionItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Game_Info</name>
        <label>Get Game Info</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Gameplay_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Collection_Item.BP_Game__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BP_Game__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Ending_Screen</name>
        <label>Ending Screen</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Ending_Screen_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Wyniki Twojej rozgrywki zostały zapisane!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Player_Score_Screen</name>
        <label>New Player Score Screen</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Score_Fields</targetReference>
        </connector>
        <fields>
            <name>New_Player_Score_Screen_Info</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Wprowadź wynik  &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!Scores_Left_To_Create}&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;  gracza:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Player_Score_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Player_Score_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Score_To_Create.BP_Player__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Player_Score_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Score_To_Create.BP_Value__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pick_Number_Of_Players</name>
        <label>Pick number of players</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_All_Player_Scores_Created</targetReference>
        </connector>
        <fields>
            <name>Display_Game_Info</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Dla gry &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!Get_Game_Info.Name} &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;wprowadź liczbę graczy z przedziału od  &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Get_Game_Info.BP_MinimumPlayersNumber__c}&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;  &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;do  &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Get_Game_Info.BP_MaximumPlayersNumber__c}&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Number_Of_Players</name>
            <dataType>Number</dataType>
            <fieldText>Liczba graczy:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(228, 63, 63);&quot;&gt;Podaj poprawną liczbę graczy&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Validate_Number_Of_Players}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Start_Screen</name>
        <label>Start Screen</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Collection_Item</targetReference>
        </connector>
        <fields>
            <name>Starting_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Aby rozpocząć proces dodawania wyników rozgrywki wybierz grę ze swojej kolekcji, oraz wprowadź datę rozgrywki:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CollectionItem_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>BP_Game__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Wybierz grę:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>BP_Gameplay__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Data_rozgrywki</name>
            <dataType>Date</dataType>
            <fieldText>Data rozgrywki:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(173, 41, 41);&quot;&gt;Nie możesz wprowadzić przyszłej daty.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Gameplay_Date_Validator}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Start_Screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Gameplay_To_Create</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BP_Gameplay__c</objectType>
    </variables>
    <variables>
        <name>Score_To_Create</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BP_Score__c</objectType>
    </variables>
    <variables>
        <name>Scores_Left_To_Create</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
