src/main/default/flows/BP_NewGameCreator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>BP_GetGameDetailsFromBggAction</name>
        <label>Get Game Details From BGG Action</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>BP_GetGameDetailsFromBggInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>BP_CategoryLoop</targetReference>
        </connector>
        <faultConnector>
            <targetReference>BP_ErrorScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>BggId</name>
            <value>
                <elementReference>selectedGameId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BP_GetGameDetailsFromBggInvocable</nameSegment>
        <outputParameters>
            <assignToReference>BP_RetrievedGameAge</assignToReference>
            <name>age</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BP_RetrievedGameBggId</assignToReference>
            <name>bggId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BP_RetrievedGameCategories</assignToReference>
            <name>boardgameCategory</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BP_RetrievedGameDesigner</assignToReference>
            <name>boardgameDesigner</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BP_RetrievedGameMechanics</assignToReference>
            <name>boardgameMechanic</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BP_RetrievedGameSubdomains</assignToReference>
            <name>boardgameSubdomain</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BP_RetrievedGameDescription</assignToReference>
            <name>description</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BP_RetrievedGameMaxPlayers</assignToReference>
            <name>maxPlayers</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BP_RetirevedGameMaxPlaytime</assignToReference>
            <name>maxPlaytime</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BP_RetrievedGameMinPlayers</assignToReference>
            <name>minPlayers</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BP_RetrievedGameMinPlaytime</assignToReference>
            <name>minPlaytime</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BP_RetrievedGameName</assignToReference>
            <name>name</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>BP_RetrievedGameYearPublished</assignToReference>
            <name>yearPublished</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>BP_AddSelectedCategory</name>
        <label>Add Selected Category</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>BP_RefactoredGameCategories</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BP_CategoryLoop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BP_RefactoredGameCategories</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BP_CategoryLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BP_AddSelectedMechanic</name>
        <label>Add Selected Mechanic</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>BP_RefactoredGameMechanics</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BP_MechanicLoop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BP_RefactoredGameMechanics</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BP_MechanicLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BP_AddSelectedSubdomain</name>
        <label>Add Selected Subdomain</label>
        <locationX>264</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>BP_RefactoredGameSubdomains</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BP_SubdomainLoop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BP_RefactoredGameSubdomains</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BP_SubdomainLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BP_AssignNewGameParams</name>
        <label>Assign New Game Params</label>
        <locationX>176</locationX>
        <locationY>1250</locationY>
        <assignmentItems>
            <assignToReference>BP_NewGame.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BP_RetrievedGameName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BP_NewGame.BP_BggSite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BP_BggGamePageFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BP_NewGame.BP_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BP_RefactoredGameCategories</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BP_NewGame.BP_MaximumPlayersNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BP_RetrievedGameMaxPlayers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BP_NewGame.BP_MaximumPlaytimeInMinutes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BP_RetirevedGameMaxPlaytime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BP_NewGame.BP_Mechanic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BP_RefactoredGameMechanics</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BP_NewGame.BP_MinimumPlayersNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BP_RetrievedGameMinPlayers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BP_NewGame.BP_MinimumPlaytimeInMinutes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BP_RetrievedGameMinPlaytime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BP_NewGame.BP_PublishedYear__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BP_RetrievedGameYearPublished</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BP_NewGame.BP_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BP_RefactoredGameSubdomains</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BP_NewGame.BP_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BP_RetrievedGameDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BP_NewGame.BP_RecommendedAge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BP_RetrievedGameAge</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BP_CreateGameRecord</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>BP_BggGamePageFormula</name>
        <dataType>String</dataType>
        <expression>&quot;https://boardgamegeek.com/boardgame/&quot; + TEXT({!BP_RetrievedGameBggId})</expression>
    </formulas>
    <interviewLabel>Kreator Nowej Gry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Kreator Nowej Gry</label>
    <loops>
        <name>BP_CategoryLoop</name>
        <label>Category Loop</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>BP_RetrievedGameCategories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>BP_AddSelectedCategory</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>BP_MechanicLoop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>BP_MechanicLoop</name>
        <label>Mechanic Loop</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <collectionReference>BP_RetrievedGameMechanics</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>BP_AddSelectedMechanic</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>BP_SubdomainLoop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>BP_SubdomainLoop</name>
        <label>Subdomain Loop</label>
        <locationX>176</locationX>
        <locationY>950</locationY>
        <collectionReference>BP_RetrievedGameSubdomains</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>BP_AddSelectedSubdomain</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>BP_AssignNewGameParams</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>BP_CreateGameRecord</name>
        <label>Create Game Record</label>
        <locationX>176</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>BP_GetNewGame</targetReference>
        </connector>
        <inputReference>BP_NewGame</inputReference>
    </recordCreates>
    <recordLookups>
        <name>BP_GetNewGame</name>
        <label>Get New Game</label>
        <locationX>176</locationX>
        <locationY>1466</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BP_AdditionalDetailsScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BP_NewGame.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BP_Game__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>BP_UpdateNewGame</name>
        <label>Update New Game</label>
        <locationX>176</locationX>
        <locationY>1682</locationY>
        <inputReference>BP_GetNewGame</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>BP_AdditionalDetailsScreen</name>
        <label>Additional Details Screen</label>
        <locationX>176</locationX>
        <locationY>1574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>BP_UpdateNewGame</targetReference>
        </connector>
        <fields>
            <name>BP_NewGameModificationDescription</name>
            <fieldText>&lt;p&gt;Utworzono grę o następujących parametrach:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BP_GameDetailSection</name>
            <fieldText>Informacje o grze</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BP_GameDetailSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BP_GameName</name>
                    <fieldText>&lt;p&gt;Nazwa Gry:&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!BP_GetNewGame.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>BP_MinPlayers</name>
                    <fieldText>&lt;p&gt;Minimalnia liczba graczy:&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!BP_GetNewGame.BP_MinimumPlayersNumber__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>BP_MinPlaytime</name>
                    <fieldText>&lt;p&gt;Minimalny czas rozgrywki [min]:&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!BP_GetNewGame.BP_MinimumPlaytimeInMinutes__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>BP_Site</name>
                    <fieldText>&lt;p&gt;Strona gry:&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!BP_GetNewGame.BP_BggSite__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BP_GameDetailSection_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BP_PublishedYear</name>
                    <fieldText>&lt;p&gt;Rok wydania:&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!BP_GetNewGame.BP_PublishedYear__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>BP_MaxPlayers</name>
                    <fieldText>&lt;p&gt;Maksymalna liczba graczy:&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!BP_GetNewGame.BP_MaximumPlayersNumber__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>BP_MaxPlaytime</name>
                    <fieldText>&lt;p&gt;Maksymalny czas rozgrywki [min]:&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!BP_GetNewGame.BP_MaximumPlaytimeInMinutes__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>BP_AditionalDetailSection</name>
            <fieldText>Dodatkowe informacje</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BP_AditionalDetailSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BP_Type</name>
                    <fieldText>&lt;p&gt;Typ gry:&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!BP_GetNewGame.BP_Type__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>BP_Category</name>
                    <fieldText>&lt;p&gt;Kategorie gry:&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!BP_GetNewGame.BP_Category__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BP_AditionalDetailSection_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BP_Mechanic</name>
                    <fieldText>&lt;p&gt;Zastosowane mechaniki rozgrywki:&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!BP_GetNewGame.BP_Mechanic__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>BP_AddAditionalDetailsSection</name>
            <fieldText>Wprowadź dodatkowe dane</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>BP_AddAditionalDetailsSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>BP_GetNewGame.BP_IsExpansion__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BP_AddAditionalDetailsSection_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>BP_GetNewGame.BP_ExpansionFor__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>BP_AddAditionalDetailsSection_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>BP_GetNewGame.BP_Publisher__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>BP_CreatorHeader</name>
        <label>Kreator Nowej Gry</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>BP_GetGameDetailsFromBggAction</targetReference>
        </connector>
        <fields>
            <name>BP_WelcomeMessage</name>
            <fieldText>&lt;p&gt;Aby rozpocząć proces dodawania nowej gry, znajdź interesujący Cię tytuł:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BP_ListOfRetrievedGames</name>
            <extensionName>c:bp_BggGameSearchResultList</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>BP_FlowContinued</name>
                <value>
                    <elementReference>BP_FlowContinued</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>BP_isFinising</assignToReference>
                <name>BP_isFinishing</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedGameId</assignToReference>
                <name>selectedGameId</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>BP_ErrorScreen</name>
        <label>Error Screen</label>
        <locationX>440</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>BP_FaultMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!BP_ErrorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>BP_CreatorHeader</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BP_ErrorMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Wystąpił problem:&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;Jeśli masz wątpliwości jak rozwiązać problem skontaktuj się z działem IT.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>BP_FlowContinued</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BP_isFinising</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BP_NewGame</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BP_Game__c</objectType>
    </variables>
    <variables>
        <name>BP_RefactoredGameCategories</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BP_RefactoredGameMechanics</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BP_RefactoredGameSubdomains</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BP_RetirevedGameMaxPlaytime</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>BP_RetrievedGameAge</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>BP_RetrievedGameBggId</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>BP_RetrievedGameCategories</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BP_RetrievedGameDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BP_RetrievedGameDesigner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BP_RetrievedGameMaxPlayers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>BP_RetrievedGameMechanics</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BP_RetrievedGameMinPlayers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>BP_RetrievedGameMinPlaytime</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>BP_RetrievedGameName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BP_RetrievedGameSubdomains</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BP_RetrievedGameYearPublished</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>selectedGameId</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
